<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>Detection and Classification</h1>
    </header>
    <div class="wrapper">
        <div class="tabs">
            <button data-tab="image" onclick="openTab(event)">
                <img class='tabIcon' src="/static/image.png">
                Image
            </button>
            <button class="active" data-tab="video" onclick="openTab(event)">
                <img class='tabIcon' src="/static/video.png">
                Video
            </button>
           <!-- <button data-tab="realtime" onclick="openTab(event)">
                <img class='tabIcon' src="/static/realtime.png">
                Realtime
            </button>
            <button data-tab="voice" onclick="openTab(event)">
                <img class='tabIcon' src="/static/voice2.png">
                Voice
            </button>-->
        </div>
        <div class="content">
            {%include 'imageTab.html'%} {%include 'videoTab.html'%}
        </div>



    </div>
    <script src="/static/drop.js"></script>
    <script src="/static/script.js"></script>
</body>
<script>
    const ul = document.querySelector('#videoResult .classes ul');

    fetch('http://127.0.0.1:5000/temp')
        .then(response => {
            response.json().then(data => {
                data.forEach(label => {
                        const li = document.createElement('li');
                        li.textContent = label;
                        ul.appendChild(li);
                    })
                    // console.log(data);
                    // p.innerHTML = data.join(', ');
            })
        })
</script>

</html>
